{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <a class="category-badge text-decoration-none">
                <span class="p-3 mb-4 logo-font badge badge-white text-white bg-black"
                    style="font-size: 25px; font-family: 'Prata', serif;">Bouquet Tips</span>
            </a>

        </div>

    </div>
</div>




<div class="container-fluid ">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 ">
            <div class="image-container my-4"><img class="img-fluid"
                    src="https://i.ibb.co/TYxNM3m/BB45-5.jpg" alt="bouquettips" /></div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-4">
            <div class="accordion text-center bg-white" id="exampleAccordion">
                <div class="card">
                    <div class="card-header" id="exItem1Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed  text-black font-weight-bold" type="button"
                                data-toggle="collapse" data-target="#exItem1" aria-expanded="false"
                                aria-controls="exItem1">REMOVE FOLIAGE</button>
                        </h3>
                    </div>
                    <div id="exItem1" class="collapse" aria-labelledby="exItem1Header" data-parent="#exampleAccordion">
                        <div class="card-body">Stripping leaves seems like a laborious step in the bouquet preparation. 
                             <br> once these leaves are submerged underwater, 
                            they will act as a Petri dish for all the nasty microbes you want to keep out of your flower arrangement.</div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="exItem2Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                data-toggle="collapse" data-target="#exItem2" aria-expanded="false"
                                aria-controls="exItem1">CHANGE WATER</button>
                        </h3>
                    </div>
                    <div id="exItem2" class="collapse" aria-labelledby="exItem2Header" data-parent="#exampleAccordion">
                        <div class="card-body">The sap of some flowers can cause a reaction in other flowers that will lead to a shorter vase life, 
                        spoiling your arrangement.<br>If you purchase conditioned flowers from the florist you don’t need to worry about this, 
                        as the sap flow will have ceased, but fresh flowers from the garden can be a problem for the first several hours after harvest.</div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="exItem3Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                data-toggle="collapse" data-target="#exItem3" aria-expanded="false"
                                aria-controls="exItem3">AVOID ETHYLENE </button>
                        </h3>
                    </div>
                    <div id="exItem3" class="collapse" aria-labelledby="exItem3Header" data-parent="#exampleAccordion">
                        <div class="card-body">A rotten apple will spoil the bunch, as they say, but the ethylene gas emitted by ripening fruits can also harm your fresh cut flowers.
                        <br> This hormone acts on flowers by triggering aging in plant tissues, which you will see as wilting and browning of your blooms, as well as the shedding of petals. 
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="exItem4Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                data-toggle="collapse" data-target="#exItem4" aria-expanded="false"
                                aria-controls="exItem4">CONSIDER THE LIGHT</button>
                        </h3>
                    </div>
                    <div id="exItem4" class="collapse" aria-labelledby="exItem4Header" data-parent="#exampleAccordion">
                        <div class="card-body">Your bouquet would look lovely in the kitchen window, if you were a bird admiring the arrangement from the outside. 
                        <br> The flowers always seem to be straining toward the window, away from your view. </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="exItem5Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                data-toggle="collapse" data-target="#exItem5" aria-expanded="false"
                                aria-controls="exItem5">CONDITION FLOWERS</button>
                        </h3>
                    </div>
                    <div id="exItem5" class="collapse" aria-labelledby="exItem5Header" data-parent="#exampleAccordion">
                        <div class="card-body">Proper flower conditioning will ensure that your stems fill up with water, not air,
                        prolonging the life and fresh appearance of the blooms. </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="exItem6Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                data-toggle="collapse" data-target="#exItem6" aria-expanded="false"
                                aria-controls="exItem6">BEWARE FLOWER COMBINATIONS</button>
                        </h3>
                    </div>
                    <div id="exItem6" class="collapse" aria-labelledby="exItem6Header" data-parent="#exampleAccordion">
                        <div class="card-body">The sap of some flowers can cause a reaction in other flowers that will lead to a shorter vase life,
                         spoiling your arrangement.</div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="exItem7Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                data-toggle="collapse" data-target="#exItem7" aria-expanded="false"
                                aria-controls="exItem7">APPLE CIDER VINEGAR</button>
                        </h3>
                    </div>
                    <div id="exItem7" class="collapse" aria-labelledby="exItem7Header" data-parent="#exampleAccordion">
                        <div class="card-body">Everyone likes to keep cut flowers around as long as possible, and there are several good methods. </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="exItem8Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed text-black font-weight-bold" type="button"
                                data-toggle="collapse" data-target="#exItem8" aria-expanded="false"
                                aria-controls="exItem8">ASPIRIN</button>
                        </h3>
                    </div>
                    <div id="exItem8" class="collapse" aria-labelledby="exItem8Header" data-parent="#exampleAccordion">
                        <div class="card-body">It’s a tried-and-true way to keep roses and other cut flowers fresh longer: 
                        <br>Put a crushed aspirin in the water before adding your flowers. 
                        <br>Also, don’t forget to change the vase water every few days.</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}